<section class="topArea">
  <img src="img/topArea/Cost-of-Living-Crisis_Hero-Desktop_Penguin.webp" alt="도서 소개 배너이미지" />
  <div class="inner_topArea w1510">
    <h2>도서 소개 <span>Books</span></h2>
  </div>
</section>
<section class="topArea_tit">
  <div class="w1510">
    <div class="topArea_txt">
      <h3>도서</h3>
      <p>펭귄클래식코리아의 책을 소개합니다.</p>
    </div>
  </div>
</section>
<article class="books">
  <div class="books_wrap w1280">
    <ul class="books_tablist">
      <li class="booksTablink active" onclick="tabOpen(event,'books_Tab1')">소설</li>
      <li class="booksTablink" onclick="tabOpen(event,'books_Tab2')">비소설</li>
      <li class="booksTablink" onclick="tabOpen(event,'books_Tab3')">비즈니스</li>
      <li class="booksTablink" onclick="tabOpen(event,'books_Tab4')">인문</li>
      <li class="booksTablink" onclick="tabOpen(event,'books_Tab5')">유아</li>
    </ul>
    <div id="books_Tab1" class="booksTabcont">
      <ul>
        <li class="booksConBox">
          <div>
            <img src="img/books/어린왕자_표지.jpg" alt="어린왕자 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">어린 왕자</p>
            <p class="f_regular">“인류 역사상 가장 아름다운 우화 『어린 왕자』와 고전문학 시리즈의 대명사 ‘펭귄클래식’의 특별한 만남!”</p>
          </div>
        </li>
        <li class="booksConBox">
          <div>
            <img src="img/books/이상한 나라의 엘리스.jpg" alt="이상한 나라의 앨리스 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">이상한 나라의 앨리스</p>
            <p class="f_regular">어른과 아이의 경계를 허무는 마술 같은 작품</p>
          </div>
        </li>
        <li class="booksConBox">
          <div>
            <img src="img/books/마지막 잎새.jpg" alt="마지막 잎새 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">마지막 잎새(펭귄클래식 98)</p>
            <p class="f_regular">오 헨리의 대표작 「마지막 잎새」 외 27편의 걸작 단편선</p>
          </div>
        </li>
        <li class="booksConBox">
          <div>
            <img src="img/books/반짝이는 것은 모두.jpg" alt="반짝이는 것은 모두 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">반짝이는 것은 모두</p>
            <p class="f_regular">단편 소설의 영웅 오 헨리의 후기 단편 선집.</p>
          </div>
        </li>
        <li class="booksConBox">
          <div>
            <img src="img/books/월든_표지(평면).jpg" alt="월든 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">월든(펭귄클래식×교보문고×스티키몬스터랩 특별 한정판)</p>
            <p class="f_regular">북디자인의 역사를 새롭게 쓴 펭귄클래식 커버의 재해석!</p>
          </div>
        </li>
        <li class="booksConBox">
          <div>
            <img src="img/books/야성의 부름.jpg" alt="야성의 부름 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">야성의 부름 · 화이트 팽</p>
            <p class="f_regular">두려움이란 본능과 이를 이겨내기 위한 적자생존의 법칙</p>
          </div>
        </li>
      </ul>
    </div>
    <div id="books_Tab2" class="booksTabcont">
      <ul>
        <li class="booksConBox">
          <div>
            <img src="img/books/80일간의 세계 일주.jpg" alt="80일간의 세계 일주 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">80일간의 세계 일주</p>
            <p class="f_regular">19세기의 화신 쥘 베른이 선사하는 모험과 환상의 세계</p>
          </div>
        </li>
        <li class="booksConBox">
          <div>
            <img src="img/books/펭귄87_정글북 1.jpg" alt="펭귄87_정글북 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">펭귄87_정글북</p>
            <p class="f_regular"><정글북> 최초 판본 완역</p>
          </div>
        </li>
        <li class="booksConBox">
          <div>
            <img src="img/books/알렉산드리아 사중주저스틴.jpg" alt="알렉산드리아 사중주저스틴 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">알렉산드리아 사중주: 저스틴</p>
            <p class="f_regular">온다 리쿠 <삼월은 붉은 구렁을>의 모티브가 된 바로 그 작품</p>
          </div>
        </li>
        <li class="booksConBox">
          <div>
            <img src="img/books/밤의 종말 (펭귄클래식 107).jpg" alt="밤의 종말 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">밤의 종말 (펭귄클래식 107)</p>
            <p class="f_regular">노벨문학상 수상작가 프랑수아 모리아크가 일생동안 사랑했던 여인 테레즈 데케루, 15년 후의 이야기</p>
          </div>
        </li>
      </ul>
    </div>
    <div id="books_Tab3" class="booksTabcont">
      <ul>
        <li class="booksConBox">
          <div>
            <img src="img/books/사회계약론.jpg" alt="사회계약론 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">사회계약론</p>
            <p class="f_regular">자유민주주의의 시작, 루소의 대표적 정치사상 저작 <사회계약론></p>
          </div>
        </li>
        <li class="booksConBox">
          <div>
            <img src="img/books/인간불평등.jpg" alt="인간불평등 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">인간 불평등 기원론</p>
            <p class="f_regular">인간 불평등의 기원을 밝힌, 18세기의 가장 혁명적인 저작</p>
          </div>
        </li>
      </ul>
    </div>
    <div id="books_Tab4" class="booksTabcont">
      <ul>
        <li class="booksConBox">
          <div>
            <img src="img/books/잃어버린 시절을 찾아서.bmp" alt="잃어버린 시절을 찾아서 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">잃어버린 시절을 찾아서 : 스완 댁 쪽으로</p>
            <p class="f_regular">문학으로 되찾은 '잃어버린 시절'</p>
          </div>
        </li>
        <li class="booksConBox">
          <div>
            <img src="img/books/보바리 부인.jpg" alt="보바리 부인 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">보바리 부인</p>
            <p class="f_regular">사실주의 문학의 경전! '보바리즘'을 낳은 바로 그 소설!</p>
          </div>
        </li>
        <li class="booksConBox">
          <div>
            <img src="img/books/두 도시 이야기.jpg" alt="두 도시 이야기 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">두 도시 이야기</p>
            <p class="f_regular">"「다크 나이트 라이즈」는 『두 도시 이야기』 그 자체이다."-크리스토퍼 놀런</p>
          </div>
        </li>
      </ul>
    </div>
    <div id="books_Tab5" class="booksTabcont">
      <ul>
        <li class="booksConBox">
          <div>
            <img src="img/books/자기만의 방(펭귄클래식 99).jpg" alt="자기만의 방 표지" />
          </div>
          <div class="inner_booktxt">
            <p class="f_medium">자기만의 방(펭귄클래식 99)</p>
            <p class="f_regular">
              ‘여성과 글쓰기’라는 주제를 다룬 가장 유명한 페미니즘 저작. 20세기 모더니즘의 대표작가 버지니아 울프의 정치적 에세이 『자기만의 방』
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</article>

<script src="js/books_page.js"></script>
