<section class="topArea">
    <img src="img/topArea/brandintro.webp">
    <div class="inner_topArea w1510">
        <h2>출판사 소개 <span>Introduction</span></h2>
    </div>
</section>
<section class="topArea_tit">
    <div class="w1510">
        <div class="topArea_txt">
            <h3>펭귄클래식코리아 소개</h3>
            <p>책은 누구나 변화시킬 수 있기 때문에 모두를 위한 책을 만듭니다.</p>
        </div>
    </div>
</section>
<article class="brandinfo">
    <div class="brandinfo_wrap w1280">
        <div class="brandinfoCon brandinfo_01" data-aos="fade-up"  data-aos-easing="ease-in-out"  data-aos-duration="600">
            <div class="brandinfo_img">
                <img class="bi_img1" src="img/brandintro/Clothbound-Classics-Shop-Promo.webp">
                <img class="bi_img2" src="img/brandintro/Clothbound-Classics-Shop-Promo.webp">
            </div>
            <div class="brandinfo_txt">
                <h4 class="f_medium">The one you can’t put down.<br>The one you’ll never forget.</h4>
                <p class="f_regular">1934년에 창립자는 기차를 기다리면서 읽을 만한 것을 찾았지만 발견하지 못했습니다. 결국 손에 꼭 들어오는 <br>편리한 크기와 합리적인 가격을 가진 양질의 책이 필요하다는 것을 깨달았습니다. 그리고 창립자는 이듬해 Penguin Books를 출시하여 세계를 휩쓸게 될 페이퍼백 혁명을 시작했습니다.</p>
            </div>
        </div>
        <div class="brandinfoCon brandinfo_02" data-aos="fade-up"  data-aos-easing="ease-in-out"  data-aos-duration="600">
            <div class="brandinfo_txt">
                <h4 class="f_medium">The one you listened to this morning.<br>The one you’re cooking from tonight.</h4>
                <p class="f_regular">원래 런던 동물원에서 스케치한 펭귄클레식의 상징적인 로고는 베스트셀러, 발견되지 않은 보석, 많은 사랑을 받는 서점, 동네 슈퍼마켓, 그리고 어쩌면 집 선반에서 찾을 수 있습니다. 당신이 무엇을, 어디서, 어떻게 읽고 싶어하든, 우리는 당신을 위한 무언가를 가지고 있습니다.</p>
            </div>
            <div class="brandinfo_img">
                <img class="bi_img1" src="img/brandintro/start-austen-main-image-1800x1200-1.webp">
                <img class="bi_img2" src="img/brandintro/start-austen-main-image-1800x1200-1.webp">
            </div>
        </div>
        <div class="brandinfoCon brandinfo_03" data-aos="fade-up"  data-aos-easing="ease-in-out"  data-aos-duration="600">
            <div class="brandinfo_img">
                <img class="bi_img1" src="img/brandintro/96-Best-Classics_Hero-Desktop_Penguin.webp">
                <img class="bi_img2" src="img/brandintro/96-Best-Classics_Hero-Desktop_Penguin.webp">
            </div>
            <div class="brandinfo_txt">
                <h4 class="f_medium">The one that makes you laugh out loud.<br>The one that made you sob even louder.</h4>
                <p class="f_regular">기차 여행이 있은 지 거의 100년이 지난 지금도 여전히 우리의 사명은 그대로 남아 있습니다. 수십 년의 생애동안 축하와 위기를 거치면서 Penguin Books는 언제나, 항상 모두를 위한 책을 만들어 왔습니다. 기분이나 생각을 넘어 출퇴근길이나 지역사회, 먹는 방식이나 잠자는 방식을 바꿀 수 있는 책을 만들 것 입니다. 오늘, 내일 그리고 평생.</p>
            </div>
        </div>
    </div>
    <div class="pointColor">
        <div class="pointColor_bg"></div>
        <div class="inner_pointColor w1280">
            <h3 class="f_medium">색깔로 구분하는 장르</h3>
            <ul>
                <li data-aos="fade-up"  data-aos-easing="ease-in-out"  data-aos-duration="600">
                    <img src="img/brandintro/orange.gif">
                    <p class="f_regular">소설</p>
                </li>
                <li data-aos="fade-up"  data-aos-easing="ease-in-out"  data-aos-duration="800">
                    <img src="img/brandintro/green.gif">
                    <p class="f_regular">범죄소설</p>
                </li>
                <li data-aos="fade-up"  data-aos-easing="ease-in-out"  data-aos-duration="1000">
                    <img src="img/brandintro/pink.gif">
                    <p class="f_regular">여행/모험</p>
                </li>
                <li data-aos="fade-up"  data-aos-easing="ease-in-out"  data-aos-duration="1200">
                    <img src="img/brandintro/blue.gif">
                    <p class="f_regular">전기</p>
                </li>
                <li data-aos="fade-up"  data-aos-easing="ease-in-out"  data-aos-duration="1400">
                    <img src="img/brandintro/red.gif">
                    <p class="f_regular">드라마</p>
                </li>
                <li data-aos="fade-up"  data-aos-easing="ease-in-out"  data-aos-duration="1600">
                    <img src="img/brandintro/yellow.png">
                    <p class="f_regular">기타 서적</p>
                </li>
            </ul>
        </div>
    </div>
</article>
