<footer>
  <div class="inner_footer w1510">
    <div class="footer_leftCon">
      <h1><img src="img/footer/Penguin_Classics_penguin.png" alt="펭귄클래식로고" /></h1>
      <div class="footer_address f_medium">
        <p>TEL: 1577-1500 월~금(공휴일 제외) 9:00~18:00</p>
        경기도 파주시 회동길 20 (우 10881) <br />
        대표이사: 이재진 사업자등록번호: 141-81-09131
      </div>
      <div class="footer_link">
        <div class="footer_fac"><a href="#">페이스북</a></div>
        <div class="footer_reception"><a href="#">원고접수</a></div>
      </div>
      <div class="footer_copyright f_medium">Copyright © WOONGJIN THINKBIG. All Rights Reserved</div>
    </div>
    <div class="footer_rightCon">
      <div class="typos_top">
        <h4>오탈자 신고<span class="f_medium">Inquiry about typos</span></h4>
        <div class="personInfo">
          <span>개인정보 수집이용</span>
          <div>
            <input type="checkbox" id="footer_check" />
            <label for="footer_check">동의</label>
          </div>
        </div>
      </div>
      <div class="typos_bottom">
        <ul>
          <li><input type="text" class="f_medium" placeholder="도서명을 입력해주세요." /></li>
          <li><input type="text" class="f_medium" placeholder="이메일을 입력해주세요." /></li>
          <li><input type="text" class="f_medium" placeholder="이름을 입력해주세요." /></li>
          <li><input type="text" class="f_medium" placeholder="연락처를 입력해주세요." /></li>
          <li><textarea name="typos_content" id="typos_content" cols="30" rows="10" placeholder="내용을 입력해주세요."></textarea></li>
        </ul>
        <div class="footer_typosBtn">
          <button type="button" class="typosBtn">작성완료</button>
        </div>
      </div>
    </div>
  </div>
</footer>
