<header>
  <div class="headerWrap">
      <div class="innerHeader">
      <h1 class="logo"><a href="/"><img id="logo_imgTop" src="../img/header/펭귄.png" alt=""></a></h1>
      <div class="logo_back"></div>
      <nav class="gnb">
        <ul>
          <li><a href="/brandintro" class="gnbA">출판사소개</a></li>
          <li><a href="/books" class="gnbA">도서</a></li>
          <li><a href="" class="gnbA">작가</a></li>
          <li><a href="/noticeList" class="gnbA">공지사항</a></li>
          <li><a href="" class="gnbA">이벤트</a></li>
          <li><a href="" class="gnbA">원고접수</a></li>
        </ul>
      </nav>
      <div class="header_utilBox">
        <ul>
          <li><a href="/logIn">LOGIN</a></li>
          <li></li>
          <li class="h_openBar">
            <span class="h_line h_line1"></span>
            <span class="h_line h_line2"></span>
            <span class="h_line h_line3"></span>
            <span class="h_line h_line4"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>


<script src="js/header.js"></script>