<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/common/reset.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/common/commonTag.css">
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="css/mainPage.css">
  <link rel="stylesheet" href="css/common/topArea.css">
  <link rel="stylesheet" href="css/noticeList_page.css">
  <link rel="stylesheet" href="css/noticeWrite_page.css">
  <link rel="stylesheet" href="css/noticeCon_page.css">
  <link rel="stylesheet" href="css/logIn_page.css">
  <link rel="stylesheet" href="css/signUp_page.css">
  <link rel="stylesheet" href="css/termsOfUse_page.css">



  <!-- AOS 라이브러리 불러오기-->
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"> 
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">


  <title>Penguin Classic Korea</title>
</head>
<body>
  <div id="header">
    <%- include('header') %>
  </div>
  <main>
    <%- body %>
  </main>
  <div id="footer">
    <%- include('footer') %>
  </div>
</body>
 <!-- Swiper JS -->
 <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
 <script src="js/mainPage.js"></script>
  <!-- AOS 스크립트 시작 -->
  <script> AOS.init();</script>
</html>

