<section class="topArea logIn_topArea">
    <img src="img/topArea/Hero-Desktop_Penguin.webp">
    <div class="inner_topArea w1510">
        <h2>로그인 <span>Log In</span></h2>
    </div>
</section>
<section class="topArea_tit">
    <div class="w1510">
        <div class="topArea_txt">
            <h3>로그인</h3>
            <p>환영합니다!</p>
        </div>
    </div>
</section>
<form action="" method="post">
    <div class="logIn_wrap w1280">
        <div class="logIn_box">
            <input type="text" name="id" id="id" class="logIn_id logInMain" placeholder="아이디">
            <input type="password" name="pwd" id="pwd" class="logIn_pwd logInMain" placeholder="비밀번호">
            <span class="saveId">
                <div class="saveId_wrap">
                    <input type="checkbox">
                    <label for="checkId">아이디 저장</label>
                 </div>
                <div class="signUp_btn"><a href="/termsOfUse">회원가입</a></div>
            </span>
            <input class="login_btn" type="submit" value="로그인">
        </div>

    </div>
</form>

<script src="../public/js/logIn_page.js"></script>