<section class="videoSec">
  <div class="video_wrap">
    <video autoplay muted loop>
      <source src="img/mainPage/videoSec/Welcome to Penguin USA.mp4" type="video/mp4">
    </video>
    <h2>세계 최고의 클래식,<br>
      펭귄 클래식</h2>
      <div class="circleBox">
        <div class="inner_circle w1280">
          <div class="circle">
            <svg></svg>
          </div>
          <img src="img/mainPage/videoSec/icon_play.png" alt="icon">
          <div class="outCircle"></div>
          <div class="scrollDown">
            <div class="scrollDown_txt"><span>SCROLL DOWN</span></div>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="bookInfo">
  <div class="bookInfo_tit mainTitle w1510" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600">
    <h5>01</h5>
      <div class="w1280">
      <h2>Books</h2>
      <p><펭귄클래식>의 한국어판은 세계문학의 고전과 인문사회 분야의 명저, 한국 고전까지 <br>
  아우르며 세계의 거장들이 다채롭게 빚은 교양과 재미, 감동을 선사합니다.</p>
    </div>
  </div>
  <div class="bookInfo_swiper" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="800">
    <!-- Swiper -->
    <div class="swiper mySwiper_bookInfo">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="bookInfoImg bookInfo_img1">
          </div>
          <div class="bookInfo_txt">
            <h4>이상한 나라의 앨리스</h4>
            <p>루이스 캐럴</p>
          </div>

        </div>
        <div class="swiper-slide">
          <div class="bookInfoImg bookInfo_img2">
          </div>
          <div class="bookInfo_txt">
            <h4>고흐의 편지</h4>
            <p>빈센트 반 고흐</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bookInfoImg bookInfo_img3">
          </div>
          <div class="bookInfo_txt">
            <h4>마지막 잎새</h4>
            <p>오 헨리</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bookInfoImg bookInfo_img4">
          </div>
          <div class="bookInfo_txt">
            <h4>반짝이는 것은 모두</h4>
            <p>오 헨리</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bookInfoImg bookInfo_img5">
          </div>
          <div class="bookInfo_txt">
            <h4>이상한 나라의 앨리스</h4>
            <p>루이스 캐럴</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bookInfoImg bookInfo_img6">
          </div>
          <div class="bookInfo_txt">
            <h4>고흐의 편지</h4>
            <p>빈센트 반 고흐</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bookInfoImg bookInfo_img7">
          </div>
          <div class="bookInfo_txt">
            <h4>반짝이는 것은 모두</h4>
            <p>오 헨리</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bookInfoBtn_wrap">
      <div class="bookInfo-button-next"></div>
      <div class="bookInfo-button-prev"></div>
      <div class="bookInfo-button-shadow"></div>
  </div>
  </div>
 
</section>
<section class="aboutPC">
  <div class="aboutPC_tit mainTitle w1510" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600">
    <h5>02</h5>
      <div class="w1280">
      <h2>About</h2>
      <div class="aboutTit_img"></div>
      <h3>지난 60년간 명작과 고전의 출판문화를 선도해온<br> 세계적인 고전 시리즈</h3>
    </div>
  </div>
  <article class="aboutPC_backTxt w1510">
    <ul data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="800">
      <li><img  class="AbookCan_img_01" src="img/mainPage/about/A-book-can.png" alt="AbookCan_img"></li>
      <li><img src="img/mainPage/about/change.png" alt="change_img"></li>
      <li><img src="img/mainPage/about/anyone.png" alt="anyone_img"></li>
    </ul>
    <div class="aboutPCValue">
      <span class="Val_translation" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-duration="800">
        <h4 class="f_bold">최고의 번역</h4>
      </span>
      <span class="Val_trust" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="900">
        <h4 class="f_bold">신뢰</h4>
      </span>
      <span class="Val_curation" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="1000">
        <h4 class="f_bold">큐레이션</h4>
      </span>
    </div>
  </article>
</section>
<section class="writer">
  <div class="writer_tit mainTitle w1510" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600">
    <h5>03</h5>
      <div class="w1280">
      <h2>Authors</h2>
    </div>
  </div>
  <div class="writer_wrap" data-aos="fade-up-left" data-aos-easing="ease-in-out" data-aos-duration="600">
    <ul class="writerImg">
      <li><img src="img/mainPage/writer/F. 스콧 피츠제럴드.jfif" alt=""><p class="f_medium">F. 스콧 피츠제럴드</p></li>
      <li><img src="img/mainPage/writer/러디어드 키플링.jfif" alt=""><p class="f_medium">러디어드 키플링</p></li>
      <li><img src="img/mainPage/writer/제인 오스틴.jfif" alt=""><p class="f_medium">제인 오스틴</p></li>
      <li><img src="img/mainPage/writer/요한 볼프강 폰 괴테.jfif" alt=""><p class="f_medium">요한 볼프강 폰 괴테</p></li>
      <li><img src="img/mainPage/writer/D. H. 로렌스.jfif" alt=""><p class="f_medium">D. H. 로렌스</p></li>
      <li><img src="img/mainPage/writer/러디어드 키플링.jfif" alt=""><p class="f_medium">러디어드 키플링</p></li>
      <li><img src="img/mainPage/writer/요한 볼프강 폰 괴테.jfif" alt=""><p class="f_medium">요한 볼프강 폰 괴테</p></li>
      <li><img src="img/mainPage/writer/D. H. 로렌스.jfif" alt=""><p class="f_medium">D. H. 로렌스</p></li>
      <li><img src="img/mainPage/writer/러디어드 키플링.jfif" alt=""><p class="f_medium">러디어드 키플링</p></li>
      <li><img src="img/mainPage/writer/제인 오스틴.jfif" alt=""><p class="f_medium">제인 오스틴</p></li>
      <li><img src="img/mainPage/writer/제인 오스틴.jfif" alt=""><p class="f_medium">제인 오스틴</p></li>
      <li><img src="img/mainPage/writer/제인 오스틴.jfif" alt=""><p class="f_medium">제인 오스틴</p></li>
      <li><img src="img/mainPage/writer/제인 오스틴.jfif" alt=""><p class="f_medium">제인 오스틴</p></li>
      <li><img src="img/mainPage/writer/제인 오스틴.jfif" alt=""><p class="f_medium">제인 오스틴</p></li>
      <li><img src="img/mainPage/writer/제인 오스틴.jfif" alt=""><p class="f_medium">제인 오스틴</p></li>
    </ul>
  </div>
</section>
<section class="promotion">
  <article class="promotion_wrap">
    <div class="event_wrap" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="600">
      <a class="event">
        <img src="img/mainPage/promotion/event.jpg">
        <h3>이벤트</h3>
      </a>
    </div>
    <div class="PR_wrap" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-duration="600">
      <div class="PR">
        <img src="img/mainPage/promotion/vid_link.jpg">
        <h3>홍보영상</h3>
        <div class="pr_vid">
          <a href="#">
            <div class="pr_cir classicK_cir"></div>
            <p>펭귄클래식 코리아 홍보동영상</p>
          </a>
          <a href="#">
            <div class="pr_cir books_cir"></div>
            <p>펭귄북스 홍보동영상</p>
          </a>
        </div>
      </div>
    </div>
  </article>
</section>
<section class="noticeBoard">
  <div class="noticeBoard_tit mainTitle w1510" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600">
    <h5>04</h5>
      <div class="w1280">
      <h2>Notice Board</h2>
      <p>펭귄클래식코리아의 다양한 소식을 만나보세요.</p>
    </div>
  </div>
  <div class="noticeBoard_swiper" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="800">
      <!-- Swiper -->
      <div class="swiper mySwiper_noticeBoard">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#">
              <div class="mainNoti_hoverBox"></div>
              <div class="noticeBoard_txt">
                <p>21.9</p>
                <h4>12</h4>
              </div>
              <img src="img/mainPage/noticeBoard/웅진씽크빅 취급위탁.PNG">
              <p class="f_bold">취급위탁사 사명 변경 안내</p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <div class="mainNoti_hoverBox"></div>
              <div class="noticeBoard_txt">
                <p>21.9</p>
                <h4>12</h4>
              </div>
              <img src="img/mainPage/noticeBoard/Rectangle 97.png">
              <p class="f_bold">[당첨자발표]♨(하태하태) 본격! 취준생 친구 소환 이벤트♨</p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <div class="mainNoti_hoverBox"></div>
              <div class="noticeBoard_txt">
                <p>21.9</p>
                <h4>12</h4>
              </div>
              <img src="img/mainPage/noticeBoard/경제연구소에서 추천하는.jpg">
              <p class="f_bold">경제연구소에서 추천하는 휴가철 필독서</p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#">
              <div class="mainNoti_hoverBox"></div>
            <div class="noticeBoard_txt">
              <p>21.9</p>
              <h4>12</h4>
            </div>
            <img src="img/mainPage/noticeBoard/사랑이 다시 말을 거네 네이버.jpg">
            <p class="f_bold">네이버 '오늘의 책' 선정되었습니다.</p>
          </a>
        </div>
          <div class="swiper-slide">
            <a href="#">
              <div class="mainNoti_hoverBox"></div>
            <div class="noticeBoard_txt">
              <p>21.9</p>
              <h4>12</h4>
            </div>
            <img src="img/mainPage/noticeBoard/엄마의크레파스.jpg">
            <p class="f_bold">예스24 독후감대회 어린이도서상 <엄마의 크레파스></p>
          </a>
        </div>
          <div class="swiper-slide">
            <a href="#">
              <div class="mainNoti_hoverBox"></div>
            <div class="noticeBoard_txt">
              <p>21.9</p>
              <h4>12</h4>
            </div>
            <img src="img/mainPage/noticeBoard/웅진씽크빅 취급위탁.PNG">
            <p class="f_bold">취급위탁사 사명 변경 안내</p>
          </a>
        </div>
          <div class="swiper-slide">
            <a href="#">
              <div class="mainNoti_hoverBox"></div>
            <div class="noticeBoard_txt">
              <p>21.9</p>
              <h4>12</h4>
            </div>
            <img src="img/mainPage/noticeBoard/경제연구소에서 추천하는.jpg">
            <p class="f_bold">경제연구소에서 추천하는 휴가철 필독서</p>
          </a>
        </div>
          <div class="swiper-slide">
            <a href="#">
              <div class="mainNoti_hoverBox"></div>
            <div class="noticeBoard_txt">
              <p>21.9</p>
              <h4>12</h4>
            </div>
            <img src="img/mainPage/noticeBoard/경제연구소에서 추천하는.jpg">
            <p class="f_bold">경제연구소에서 추천하는 휴가철 필독서</p>
          </a>
        </div>
        </div>
      </div>
    </div>
</section>

