<section class="topArea termsOfUse_topArea">
    <img src="img/topArea/Hero-Desktop_Penguin.webp">
    <div class="inner_topArea w1510">
        <h2>회원가입<span>Sign Up</span></h2>
    </div>
</section>
<section class="topArea_tit">
    <div class="w1510">
        <div class="topArea_txt">
            <h3>이용약관</h3>
            <p>펭귄클래식코리아 이용약관 및 정보이용 안내에 대한 동의를 해주세요.</p>
        </div>
    </div>
</section>
<article class="termsOfUse">
    <div class="termsOfUse_wrap w1280">
        <form class="touForm" action="">
            <div class="termsOfUse_title">
                <p class="f_bold">이용약관</p>
                <div>
                    <input type="checkbox" id="agreement1">
                    <label for="CheckA">동의<span> (필수)</span></label>
                </div>
            </div>
            <div class="termsOfUse1_con">
                <textarea readonly class="touTxtarea" name="" id="" cols="30" rows="10">
제1조 (목적)
이 이용약관(이하 '약관'이라 합니다.)은 이용고객(이하 '회원'이라 합니다)이 ㈜펭귄클래식코리아(이하 '회사'라 합니다)의 펭귄클래식코리아 커뮤니티 서비스(이하 '서비스'라 합니다)를 이용함에 있어 회사와 회원간의 권리·의무 및 책임사항을 규정함을 목적으로 합니다.

제2조 (약관의 명시와 개정)
①"회사는 이 약관의 내용과 상호, 영업소 소재지, 대표자의 성명, 사업자등록번호, 연락처(전화, 팩스, 전자우편 주소 등) 등을 이용자가 알 수 있도록 회사 서비스의 초기화면(www.penguinclassickorea.co.kr) 또는 연결화면을 통하여 게시합니다.
②회사는 약관의 규제에 관한 법률, 전자거래기본법, 전자서명법, 정보통신망이용촉진등에 관한 법률, 방문판매등에 관한 법률, 소비자보호법 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
③회사는 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 회사 서비스의 초기화면에 그 적용일자 7일이전부터 적용일자 전일까지 공지합니다.
④회원은 변경된 약관이 공지된 후 15일 이내에 거부의사를 표명할 수 있습니다. 회원이 거부하는 경우 회사는 당해 회원과의 계약을 해지할 수 있습니다. 만약 회원이 변경된 약관이 공지된 후 15일 이내에 거부의사를 표시하지 않는 경우에는 동의하는 것으로 간주합니다.
제3조 (회원가입 및 이용계약체결 신청 등)
①회원이 되고자 하는 자는 회사가 정한 알라딘 회원 가입 양식에 따라 회원정보를 기입하고 동의함 단추를 누르는 방법으로 회원가입 및 커뮤니티 이용계약체결을 신청합니다.
②회사는 제1항과 같이 회원으로 가입할 것을 신청한 자가 다음 각 호에 해당하지 않는 한 신청한 자를 커뮤니티 이용 회원으로 등록하며, 이용계약체결 신청을 승낙, 체결합니다.
1)가입신청자가 본 약관 제4조 제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우. 다만 제4조 제3항에 의한 회원자격 상실 후 3년이 경과한 자로서 회사의 회원재가입 승낙을 얻은 경우에는 예외로 합니다.
2)등록 내용에 허위, 기재누락, 오기가 있는 경우
3)기타 회원으로 등록하는 것이 회사의 기술상 현저히 지장이 있다고 판단되는 경우
③회사는 서비스 이용계약체결 신청이 다음 각 호에 해당하는 경우에는 그 신청에 대하여 승낙 제한사유가 해소될 때까지 승낙을 유보할 수 있습니다
1)회사의 설비 여유가 없는 경우
2)회사의 기술상 일시적 지장이 있는 경우
3)기타 회사의 귀책사유로 이용승낙이 곤란한 경우
④회사는 이용계약체결 신청고객이 관계법령에서 규정하는 미성년자일 경우에 서비스별 안내에서 정하는 바에 따라 승낙을 보류할 수 있습니다.
⑤회원가입 및 이용계약 체결의 성립시기는 회사의 승낙이 가입신청자에게 도달한 시점으로 합니다.
⑥회원은 제1항의 회원정보 기재 내용에 변경이 발생한 경우, 즉시 변경사항을 정정하여 기재하여야 합니다.
제4조 (회원 탈퇴 및 자격 상실 등)
①회원은 회사에 언제든지 자신의 회원 등록을 말소해 줄 것(이용자 탈퇴)을 요청할 수 있으며 회사는 위 요청을 받은 즉시 해당 이용자의 회원 등록 말소를 위한 절차를 밟습니다.
②회원이 다음 각호의 사유에 해당하는 경우, 회사는 회원자격을 제한 및 정지 시킬 수 있습니다.
1)가입 신청 시에 허위 내용을 등록한 경우
2)서비스 이용과 관련하여 회원이 부담하는 대금 등의 채무를 기일에 지급하지 않는 경우
3)다른 사람의 서비스 이용을 방해하거나 그 정보를 도용하는 등 전자거래질서를 위협하는 경우
4)서비스를 이용하여 법령과 본 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
③회사가 회원 자격을 제한·정지 시킨 후, 동일한 행위가 2회이상 반복되거나 30일이내에 그 사유가 시정되지 아니하는 경우 회사는 회원자격을 상실시킬 수 있습니다.
④회사가 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소전에 소명할 기회를 부여합니다.
⑤회사는 본 서비스를 이용하는 회원에 대하여 회원의 연령, 서비스 이용내용, 시간 및 회수 등에 따라 등급별로 세분하여 서비스 이용에 차등을 둘 수 있습니다.
제5조 (개인정보의 보호 및 사용)
①회사는 관계법령이 정하는 바에 따라 회원 등록정보를 포함한 회원의 개인정보를 보호하기 위해 노력합니다. 회원 개인정보의 보호 및 사용에 대해서는 관련법령 및 회사의 개인정보보호정책이 적용됩니다.
②회사는 다음과 같은 경우에 법에서 허용하는 범위 내에서 이용자의 성명, 전자우편주소 등 이용자의 개인정보를 제3자에게 제공할 수 있습니다.
1)이용자가 서비스를 이용함에 있어 관련 법률을 위반하여 수사기관이나 기타 정부기관으로부터 정보제공을 요청받는 경우
2)이용자의 법률위반, 본 서비스 약관위반을 포함하여 부정행위 확인 등의 정보보호업무를 위해 필요한 경우
3)기타 법률에 의해 요구되는 경우
③회사의 공식사이트 외부에서 링크된 정보에대해서는 회사의 개인정보 보호정책이 적용되지 않습니다. 또한 회사는 이용자의 귀책사유로 인해 노출된 정보에 대해서 일체의 책임을 지지 않습니다.
제6조 (서비스의 제공 및 변경)
①회사는 회원에게 아래와 같은 서비스를 제공합니다.
1)개인 서재 생성 및 관리 시스템
2)서재에 정보를 생성 및 게재할 수 있는 시스템
3)상품에 대한 의견이나 목록을 생성 및 게재할 수 있는 시스템
4)회원간 정보문의 및 답변을 할 수 있는 시스템
5)회원간 물품을 거래할 수 있는 정보를 생성 및 게재할 수 있는 시스템
6)서재의 종합적인 정보 편집 시스템
7)기타 회사가 자체 개발하거나 다른 회사와의 협력계약 등을 통해 회원들에게 제공할 일체의 서비스
②회사는 제공서비스의 품질 또는 기술적 사양에 대한 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 서비스의 내용을 변경할 수 있습니다. 이 경우 변경되는 서비스의 내용 및 제공일자를 명시하여 현재의 서비스의 내용을 게시한 곳에 그 제공일자 이전 7일부터 공지합니다.
제7조 (서비스의 이용 및 중단)
①서비스 이용은 회사의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴, 1일 24시간 운영을 원칙으로 합니다. 단, 회사는 시스템 정기점검, 증설 및 교체를 위해 회사가 정한 날이나 시간에 서비스를 일시 중단할 수 있으며, 예정되어 있는 작업으로 인한 서비스 일시중단은 사전에 공지합니다.
②회사는 긴급한 시스템 점검, 증설 및 교체 등 부득이한 사유로 인하여 예고없이 일시적으로 서비스를 중단할 수 있으며, 새로운 서비스로의 교체 등 회사가 적절하다고 판단하는 사유에 의하여 현재 제공되는 서비스를 완전히 중단할 수 있습니다.
③회사는 국가비상사태, 정전, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 서비스 제공이 불가능할 경우, 서비스의 전부 또는 일부를 제한하거나 중지할 수 있습니다. 다만 이 경우 그 사유 및 기간 등을 회원에게 사전 또는 사후에 공지합니다.
④회사는 자신이 통제할 수 없는 사유로 인한 서비스중단의 경우(시스템관리자의 고의, 과실 없는 디스크장애, 시스템다운 등)에 사전통지가 불가능하며 타인(기간통신사업자 등)의 고의,과실로 인한 시스템 중단 등의 경우에는 통지하지 않습니다.
⑤회사는 서비스를 특정범위로 분할하여 각 범위별로 이용가능시간을 별도로 지정할 수 있습니다. 다만 이 경우 그 내용을 공지합니다.
제8조 (회원의 게시물)
①게시물이라 함은 각자의 서재와 커뮤니티에 회원이 생성한 글, 사진, 각종 파일과 링크, 타인의 서재에 등록한 글, 회원간 질의응답을 위한 글, 자율적인 상품거래를 위해 등록한 글, 커뮤니티 운영게시판에 등록한 글 등을 포함합니다.
②회원이 게시하는 정보등으로 인해 발생하는 손실이나 문제는 전적으로 회원 개인의 판단에 따른 책임이며, 회사의 고의가 아닌 한, 회사는 이에 대하여 책임지지 않습니다.
③회원은 공공질서나 미풍양속에 위배되는 내용과 타인의 저작권을 포함한 지적재산권 및 기타 권리를 침해하는 내용물에 대하여는 등록할 수 없으며, 만일 이와 같은 내용의 게시물로 인해 발생하는 결과에 대한 모든 책임은 회원 본인에게 있습니다.
④회사는 커뮤니티 서비스 운영목적에 반한다고 판단되는 다음의 게시물이나 자료를 사전통지 없이 삭제하거나 이동 또는 등록 거부를 할 수 있습니다.
1)다른 회원 또는 제 3자에게 심한 모욕을 주거나 명예를 손상시키는 내용인 경우
2)타인의 권리를 침해하는 행위와 관련되거나, 그 행위를 구성하는 게시물, 자료로서 이해당사자의 삭제 등 요청이 있거나 회사가 피소, 고발 될 수 있는 근거를 제공하는 게시물
3)공공질서 및 미풍양속에 위반되는 저속, 음란한 내용의 정보, 문장, 도형, 음향, 동영상을 전송, 게시하거나 링크시키는 경우
4)사적인 정치적 판단이나, 종교적 견해의 내용으로 회사가 서비스성격에 부합하지 않는다고 판단하는 경우
5)불법복제 또는 해킹을 조장하는 내용인 경우
6)영리를 목적으로 하는 광고 등 상업적 이용이라고 판단되는 경우
7)범죄와 결부된다고 객관적으로 인정되는 내용일 경우
8)다른 이용자 또는 제 3자의 저작권 등 기타 권리를 침해하는 내용인 경우
9)회사에서 규정한 게시물 원칙에 어긋나거나, 게시판 성격에 부합하지 않는 경우
10)기타 관계법령에 위배된다고 판단되는 경우
제9조 (게시물에 대한 저작권 등)
①회사가 작성한 저작물에 대한 저작권 기타 지적재산권은 회사에 귀속합니다.
②회원은 서비스를 이용함으로써 얻은 정보를 회사의 사전 승낙없이 복제, 송신, 출판, 전송, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.
③회원이 등록한 게시물에 대한 저작권은 해당 저작권자에게 귀속합니다.
④회원은 자신이 창작, 등록한 게시물에 대하여 회사가 커뮤니티 서비스를 운영, 전시, 전송배포 또는 홍보하기 위한 목적으로 다음의 각호에 행위를 할 수 있는, 세계적이고 사용료 없는 비독점적 사용권을 회사에게 부여합니다.
1)커뮤니티 서비스 내에서 회원 게시물의 복제, 수정, 개조, 전시, 전송, 배포, 출판 및 2차 저작물과 편집 저작물 작성
2)회사에서 제공하는 관련 서비스내에서 회원 게시물의 복제, 수정, 개조, 전시, 배포, 출판 및 2차 저작물과 편집 저작물 작성
3)미디어, 통신사 등 커뮤니티 서비스 제휴 파트너에게 회원의 게시물 내용을 제공, 사용하게 하는 것. 단, 이 경우 회사는 회원의 별도 동의없이 개인정보를 제휴 파트너에게 제공하지 않습니다.
⑤회원은 본조 제4항의 사용권 부여가 회사가 커뮤니티 서비스 를 운영하는 동안 확정적으로 유효하며, 회원의 탈퇴 후에도 유효함에 동의합니다.
⑥회사는 본조 제4항 이외의 방법으로 회원의 게시물을 상업적 이용하고자 하는 경우, 전화, 팩스, 전자우편 등의 방법을 통해 사전에 회원의 동의를 얻어야 합니다. 단, 회원정보에 등록된 연락처가 사실과 다르거나 회원이 회사의 연락에 응하지 않아 사전에 동의를 구하지 못한 경우, 회사는 사후에 동의 절차를 구할 수 있습니다. 회사가 본 항에 따라 회원의 게시물을 상업적으로 이용할 경우 회사는 별도의 보상제도를 운영할 수 있습니다.
⑦게시물에 대하여 제3자로부터 저작권 및 기타 권리의 침해 또는 명예훼손, 음란성 등의 이유로 이의가 제기된 경우 회사는 당해 게시물을 임시 삭제할 수 있으며, 이의를 제기한 자와 게시물 등록자 간에 소송, 합의 등을 통해 당해 게시물에 관한 법적 문제가 종결된 후 이를 근거로 회사에 신청이 있는 경우에만 상기 임시 삭제된 게시물은 다시 등록될 수 있습니다.
제10조 (정보의 제공)
①"회사는 회원에게 서비스 이용에 필요가 있다고 인정되는 각종 정보에 대해서 전자우편이나 서신우편 등의 방법으로 회원에게 제공할 수 있습니다.
②회사는 서비스 개선 및 회원 대상의 서비스 소개 등의 목적으로 회원의 동의 하에 추가적인 개인 정보를 요구할 수 있습니다.
                </textarea>
            </div>
            <div class="termsOfUse_title">
                <p class="f_bold">개인정보 수집, 제공 및 활용 동의</p>
                <div>
                    <input type="checkbox" id="agreement2">
                    <label for="CheckA">동의<span> (선택)</span></label>
                </div>
            </div>
            <div class="termsOfUse2_con">
                <textarea readonly class="touTxtarea" name="" id="" cols="30" rows="10">
제1조. 총 칙
(주)펭귄클래식코리아 커뮤니케이션'은 (이하 '펭귄클래식코리아'이라 합니다.)펭귄클래식코리아 이용자(이하 '이용자')의 개인정보를 중요시하며, 개인정보 보호법 등 관련 법령상의 개인정보보호 규정을 준수하며, 관련 법령에 따른 개인정보처리방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다. 본 개인정보처리방침은 회사가 제공하는 펭귄클래식코리아 및 펭귄클래식코리아 관련 제반 서비스 (모바일 웹/앱 포함) 이용에 적용되며 다음과 같은 내용을 담고 있습니다.

제1조. 총 칙
제2조. 개인정보의 수집 항목, 수집 방법
제3조. 개인정보 수집에 대한 동의
제4조. 개인정보의 수집 및 이용 목적
제5조. 쿠키에 의한 개인정보 수집
제6조. 목적 외 사용 및 제3자에 대한 제공 및 공유
제7조. 개인정보의 처리위탁
제8조. 개인정보의 열람, 정정
제9조. 개인정보 수집, 이용, 제공에 대한 동의 철회
제10조. 개인정보의 보유 및 이용 기간
제11조. 개인정보의 파기 절차 및 방법
제12조. 아동에 대한 정보보호에 관한 사항
제13조. 이용자의 권리와 의무
제14조. 개인정보보호를 위한 기술적, 관리적 대책
제15조. 개인정보보호 관련 의견수렴 및 불만 처리
제16조. 개인정보보호 책임자 등
제17조. 모바일 애플리케이션 개인정보
제18조. 모바일 어플리케이션 광고식별자 수집 및 온라인 맞춤형 광고
제19조. 고지의 의무

제2조. 개인정보의 수집 항목, 수집 방법
①회사는 회원가입, 회원 관리, 포인트 적립 및 결제 등 각종 서비스의 제공을 위해 개인정보를 수집하고 있습니다.
②회사는 이용자가 제공한 모든 정보를 상기 목적에 필요한 용도 이외로는 사용하지 않으며, 이용 목적이 변경될 시에는 사전에 별도 동의를 구할 것입니다.
③수집 방법
펭귄클래식코리아은 다음과 같은 방법으로 개인정보를 수집합니다.
- 홈페이지(회원가입, 비회원주문, 1:1문의)와 전화, 팩스, 이메일, 이벤트 응모
- 생성정보 수집 툴을 통한 수집
제3조. 개인정보 수집에 대한 동의
펭귄클래식코리아은 이용자께서 알라딘의 개인정보처리방침 또는 이용약관의 내용에 대해 「동의한다」 버튼 또는 「동의하지 않는다」 버튼을 클릭할 수 있는 절차를 마련하여, 「동의한다」 버튼을 클릭하면 개인정보 수집에 대해 동의한 것으로 봅니다.

제4조. 개인정보의 수집 및 이용 목적
펭귄클래식코리아은 수집한 개인정보를 다음의 목적을 위해 활용합니다. 이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며, 이용 목적이 변경될 시에는 사전동의를 구할 것입니다.

①서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금 정산
- 콘텐츠 제공, 특정 맞춤 서비스 제공, 물품 배송 또는 청구서 등 발송, 금융거래 본인 인증 및 금융 서비스, 구매 및 요금 결제, 요금추심 등
②회원 관리
- 회원제 서비스 이용 및 제한적 본인 확인제에 따른 본인 확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 가입 및 가입 횟수 제한, 만 14세 미만 아동 개인정보 수집 시 법정 대리인 동의 여부 확인, 추후 법정 대리인 본인확인, 분쟁 조정을 위한 기록보존, 불만 처리 등 민원처리, 고지사항 전달
③신규 서비스 개발 마케팅 및 광고에의 활용
- 신규 서비스 개발 및 맞춤 서비스 제공, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인, 이벤트 및 광고성 정보제공 및 참여 기회 제공, 접속 빈도 파악, 회원의 서비스 이용에 대한 통계
제5조. 쿠키에 의한 개인정보 수집
①회사는 이용자들에게 특화된 맞춤 서비스를 제공하기 위해서 이용자들의 정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다. 쿠키(cookie), 웹사이트가 이용자의 컴퓨터 브라우저(인터넷 익스플로러, 크롬 등)로 전송하는 소량의 정보로서 이용자가 웹사이트에 로그인(log-in)하면 서버는 이용자의 브라우저에 있는 쿠키의 내용을 읽고, 이용자의 추가정보를 이용자 본인의 컴퓨터에서 찾아 서비스를 제공하게 됩니다. 이러한 쿠키 정보는 이용자께 유용하고 보다 편리한 맞춤 서비스를 제공하는 데 사용되게 됩니다.
②회사는 이용자들에게 특화된 맞춤 서비스를 제공하기 위해서 이용자들의 정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다. 쿠키(cookie), 웹사이트가 이용자의 컴퓨터 브라우저(인터넷 익스플로러, 크롬 등)로 전송하는 소량의 정보로서 이용자가 웹사이트에 로그인(log-in)하면 서버는 이용자의 브라우저에 있는 쿠키의 내용을 읽고, 이용자의 추가정보를 이용자 본인의 컴퓨터에서 찾아 서비스를 제공하게 됩니다. 이러한 쿠키 정보는 이용자께 유용하고 보다 편리한 맞춤 서비스를 제공하는 데 사용되게 됩니다.
③쿠키는 브라우저의 종료 시나 로그아웃 시 만료됩니다. (쿠키 정보는 컴퓨터를 식별할 수는 있지만, 이용자 개인을 식별하지는 않습니다.)
④이용자는 언제든지 쿠키의 설치를 거부하거나 삭제할 수 있습니다. 이에 따라 이용자는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. 단, 쿠키의 저장을 거부할 경우 로그인이 필요한 일부 서비스는 이용에 어려움이 있을 수 있습니다.
쿠키 설정 거부 방법은 다음과 같습니다.

o Internet Explorer : 도구 메뉴 선택 > 인터넷 옵션 선택 > 개인정보 탭 클릭 > 고급 개인정보 설정 > 쿠키 수준 설정
o Chrome : 설정 메뉴 선택 > 고급 설정 표시 선택 > 개인정보 및 보안 > 콘텐츠 설정 선택 > 쿠키 수준 설정
o Safari : 환경설정 메뉴 선택 > 개인정보 탭 선택 > 쿠키 및 웹 사이트 데이터 수준 설정
제6조. 목적 외 사용 및 제3자에 대한 제공 및 공유
펭귄클래식코리아은 수집한 개인정보를 다음의 목적을 위해 활용합니다. 이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며, 이용 목적이 변경될 시에는 사전동의를 구할 것입니다.

①펭귄클래식코리아은 인터넷서비스화면을 통하여 공개된 정보를 제외하고는 이용자의 개인정보를 펭귄클래식코리아이 제공하는 인터넷 서비스 외의 용도로 사용하거나 이용자의 동의 없이 제3자에게 제공하지 않습니다. 다만, 다음 각 호의 경우에는 예외로 합니다.
- 금융실명거래 및 비밀보장에 관한 법률, 신용정보의 이용 및 보호에 관한 법률, 전기통신 기본법, 전기통신사업법, 지방세법, 소비자보호법, 한국은행법, 형사소송법 등 법령에 특별한 규정이 있는 경우
- 서비스 제공에 따른 요금 정산을 위하여 필요한 경우
- 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우
②펭귄클래식코리아은 이용자에게 보다 더 나은 서비스를 제공하기 위하여 개인정보를 제휴사에 제공하거나 제휴사 등과 공유할 수 있습니다. 개인정보를 제공하거나 공유할 경우에는 사전에 이용자께 제휴사 등이 누구인지, 제공 또는 공유되는 개인정보 항목이 무엇인지, 왜 그러한 개인정보가 제공되거나 공유되어야 하는지, 언제까지 어떻게 보호, 관리되는지에 대해 개별적으로 고지하여 동의를 구하는 절차를 거치게 되며, 이용자께서 동의하지 않은 경우에는 제휴사 등에 제공하거나 제휴사 등과 공유하지 않습니다.
                </textarea>
            </div>
            <div class="touBtn_wrap">
                <input class="touBtn" type="submit" value="확인">
            </div>
        </form>
    </div>
</article>

<script src="js/termsOfUse_page.js"></script>