<section class="topArea">
    <img src="img/topArea/topArea_notice.jpg">
    <div class="inner_topArea w1510">
        <h2>공지사항 <span>Notice Board</span></h2>
    </div>
</section>
<section class="topArea_tit">
    <div class="w1510">
        <div class="topArea_txt">
            <h3>공지</h3>
            <p>펭귄클래식코리아의 다양한 소식을 만나보세요.</p>
        </div>
    </div>
</section>