.w1510{
  max-width: 1510px;
  margin: 0 auto;
}
.w1280{
  max-width: 1280px;
  margin: 0 auto;
}

h2{
  font-size: 80px;
}
h3{
  font-size: 40px;
}
h4{
  font-size: 30px;
}
h5{
  font-size: 48px;
}
p{
  font-size: 20px;
}

.f_bold{
  font-weight: bold;
}

.f_medium{
  font-weight: 500;
}

.f_regular{
  font-weight: 300;
}

form{
  width: 100%;
  background-color: #231F20;
}
.form_wrap{
  padding: 70px 50px 50px;
  box-sizing: border-box;
  border-top: 2px solid #ff6815;
  border-bottom: 1px solid #ff6815;
}
textarea{
  outline: none;
}

pre{
  white-space: pre-wrap;
  word-break:  break-all;
  overflow: auto;
}

/* 메인페이지 제목 */
.mainTitle{
  color: #fff;
}
.mainTitle h2{
  display: inline-block;
  position: relative;
}
.mainTitle h2::after{
  display: block;
  content: '';
  position: absolute;
  top: 12px; left: -46px;
  width: 40px; height: 0;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
}
.mainTitle p{
  display: inline-block;
  margin-left: 20px;
}

/* 반응형 1536px */
@media (max-width: 1536px) {
  .w1510{
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }
  .w1280{
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }

}
/* 반응형 1536px */

/* 반응형 1366px */
@media (max-width: 1366px) {
  h2{
    font-size: 5.8vw;
  }
  h3{
    font-size: 2.92vw;
  }
  h4{
    font-size: 2.19vw;
  }
  h5{
    font-size: 3.5vw;
  }
  p{
    font-size: 1.4vw;
  }
}
/* 반응형 1366px */

/* 반응형 1220px */
@media (max-width: 1220px) {
  .w1510{
    padding: 0 15px;
  }
}
/* 반응형 1220px */


/* 반응형 1000px */
@media (max-width: 1000px) {
  h2{
    font-size: 7.8vw;
  }
  h4{
    font-size: 3.19vw;
  }
  h5{
    font-size: 4.5vw;
  }
  p{
    font-size: 2.5vw;
  }
}
/* 반응형 1000px */

/* 반응형 500px */
@media (max-width: 500px) {
  h2{
    font-size: 40px;
  }
  h4{
    font-size: 20px;
  }
  h5{
    font-size: 23px;
  }
  p{
    font-size: 12px;
  }
}
/* 반응형 500px */